{% load static %}

<header class="flex justify-between px-5 py-5 border-b-[1px]">
    <h1 class="text-red-500 text-[25px] font-[700]">eventbrite</h1>
    <ul>
        <li class="px-7 py-1 rounded-3xl bg-slate-100 border">
            <i class='bx bx-search-alt-2 text-[20px]'></i>
            <input type="text" placeholder="Search events" class="outline-none px-7 py-2 rounded-3xl bg-slate-100">
        </li>
    </ul>
    
    <ul class="flex justify-between space-x-5">
        <li class="font-[600]">Find Events</li>
        <li class="font-[600]">Find Events</li>
        <li class="font-[600]">Help Center</li>
        <li class="font-[600]">Find my tickets</li>
        <li class="font-[600]">Log In</li>
        <li class="font-[600]">Sign Up</li>
    </ul>
</header>